.app.dark {
    --bg-color: #ffb71c; /* цвет заднего фона */
    --inverted-bg-color: #000; /* цвет для NavBar */
    --primary-color: #ffb71c; /* главный цвет  - цвет шрифта для ссылок, кнопок и заголовок */
    --text-color: #000; /* текст */
    --secondary-color: #04ff04; /* дополнительный цвет - цвет для основного текста */
    --inveted-primary-color: #0232c2;
    --inveted-secondary-color: #0449e0;
}
