.AppLink {
    color: var(--primary-color);
    display: block;
    padding: 0 0.5em;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: red;
}
